.flight_schedule  {
  display: flex;
  justify-content: center;
  align-content: center;      
  flex-wrap: wrap;
}


.submit-form h4 {
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: inline-block;
	border-bottom: 1px solid #dbdada;
    
}

.submit-form h4 em {
	font-style: normal;
}

.submit-form label {
	margin-top: 10px;
	/* float: left; */
	font-size: 12px;
	text-transform: uppercase;
	color: #121212;
}

.submit-form select {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding: 0px 10px;
	display: inline-block;
}

.submit-form .date {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding-left: 15px;
	margin-left: 0px;
	display: inline-block;
	box-shadow: none;
	border-radius: 0px;
}

.submit-form input {
	margin-top: 12px;
	margin-left: 5px;
	cursor: pointer;
}

.submit-form .radio-select {
	margin-top: 15px;
}

.submit-form button {
	margin-top: 15px;
	width: 100%;
	height: 36px;
	background-color: #ffe165;
	font-size: 13px;
	color: #121212;
	font-weight: 600;
}